# Wichtig: 

in der Vorlesung besprochen!  

* Diese Aufgabe wird als Team Projekt bewertet. (max. 3 Teilnehmer) 
* Die hier erreichten Punkte gehen zu 20% in Klausur-Bewertung ein.

## Teilnehmer

* Geben Sie hier im Dokument die Namen der Teilnehmer an! 

Teilnehmer: 
* Sebastian Trauth
* Henrik Kaltenbach
* Marlene Hill

### Abgabe

* Die Abgabe erfolgt über Moodle

* Abzugeben ist ein jupyter Notebook mit
    * Text, der beschreibt was und wieso sie die einzelnen Analyse-Schritte durchführen 
    * Pythoncode, der die einzelnen Schritte durchführt
    * eine Zusammenfassung am Ende



* Sie können neue Zellen mit Hilfe der Jupyter-Icons hinzufügen
    * Sie können zwischen Markdown oder Code wählen 

* Export des Jupyter Notebooks
    * save as --> ipynb

* Das Jupyter Notebook zur Deadline in Moodle hochladen! 
    * der Name des JupyterNotebooks enthält auch die Namen der Teilnehmer

### Kriterien

* Sind die einzelnen Schritte gut dokumentiert und begründet? 

* Sind die bekannten in der Vorlesung vorgestellten Verfahren sinnvoll eingesetzt worden? 
    * Wurde begründet wieso ein Verfahren nicht weiter verfolgt wurde? 

* Wurde eine gute Klassifizierung erreicht? 


# Aufgabe zur Klassifizierung

Im Verzeichnis data-classification finden Sie Daten aus einem MicroCensus
* die Datei adult.data enthält Datenobjekte (zum Trainieren)
* die Datei adult.test enthält Datenobjekte (zum Testen)
* die Datei adult.names enthält Beschreibungen zu den Daten

## Aufgaben 

Entwickeln Sie ein Klassifizierungsmodell, dass so genau wie möglich vorhersagt, ob eine Person ein Einkommen von mehr als 50000 Dollar pro Jahr hat! 
* Verwenden Sie was sie bisher gelernt haben! 
* Seien Sie kritisch!

# ToDo

* Datei umbenennen bei Abgabe
* Alle müssen Datei abgeben

## Einlesen der Daten in eine Objekt-Liste

Es werden die Trainings- und die Testdaten in Objektlisten eingelesen. Ein klar definierter Seperator sorgt für das korrekte Parsen. Die erste Zeile in `adult.test` enthält keinen Daten, sie kann also direkt entfernt werden.
Die Trainingsdaten verfügen über 32561 Einträge, die Testdaten über 16281. Beide Datensätze bestehen aus 15 Merkmalen.

In [55]:
import pandas as pd

labels = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex' , 'capital-gain' , 'capital-loss', 'hours-per-week', 'native-country', '<50k']

df_train: pd.DataFrame = pd.read_csv('./data-classification/adult.data', sep=', ', engine='python', header=None, names=labels)
df_test: pd.DataFrame = pd.read_csv('./data-classification/adult.test', sep=', ', engine='python', header=None, names=labels)
df_test.drop(index=0, inplace=True)

print('Train data: ' + str(df_train.shape))
print('Test data: ' + str(df_test.shape))

df_train.head()

Train data: (32561, 15)
Test data: (16281, 15)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,<50k
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [56]:
df_test.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,<50k
1,25,Private,226802.0,11th,7.0,Never-married,Machine-op-inspct,Own-child,Black,Male,0.0,0.0,40.0,United-States,<=50K.
2,38,Private,89814.0,HS-grad,9.0,Married-civ-spouse,Farming-fishing,Husband,White,Male,0.0,0.0,50.0,United-States,<=50K.
3,28,Local-gov,336951.0,Assoc-acdm,12.0,Married-civ-spouse,Protective-serv,Husband,White,Male,0.0,0.0,40.0,United-States,>50K.
4,44,Private,160323.0,Some-college,10.0,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688.0,0.0,40.0,United-States,>50K.
5,18,?,103497.0,Some-college,10.0,Never-married,?,Own-child,White,Female,0.0,0.0,30.0,United-States,<=50K.

## Visualisieren der Daten

1. Zwischen "nominalen" (ohne innere Ordnung) und "ordinalen" (mit natürlicher Ordnung) Kategorien unterscheiden.
nominal: Blau, Rot, Grün
         Mann, Frau
         Bananen, Äpfel
         
ordinal: niedrig, mittel, hoch
         jung, alt
         
2. Es werden numerische Werte als Eingabe vorausgesetzt.
k-nächste-Nachbarn-Algorithmus berechnet Abstände zwischen Beobachtungen (oftmals euklidischer Abstand)

$\sqrt{\sum\nolimits_{n=1}^N (x_i - y_i)^2}$ 

3. String muss in numerisches Format gebracht werden

nominal: 
scikit-Bibliothek "LabelBinarizer -> One-Hot-Codierung

Pandas lässt sich auch auf die Transformierte anwenden

ordinal kategorisch: 
DataFrame-Methode "replace" von pandas um String-Bezeichner in numerische Äquivalente zu transformieren

4. Fehlende Klassenwerte imputieren

In einem kategorisches Merkmal fehlende Werte (unser "?") ersetzten durch vorhergesagte Werte.

Trainieren eines k-nächste-Nachbarn-(KNN)-Klassifikators um fehlende Werte vorherzusagen.


Idee: Grouped bar chart jeweils für <=50K und für >50K

Balkengruppe=Kriterium, so viele Balken wie mögliche Werte

In [57]:
#df_train.plot()
#df_test.plot()

## Vorbereitung der Daten

Die Daten sind nicht direkt so nutzbar.
Sie enthalten einige Fehler die entfernt werden müssen.
Außerdem können die Merkmale in dem Format in dem sie vorliegen nicht verarbeitet werden und müssen verändert werden.
Diese Schritte werden hier beschrieben und umgesetzt.
Diese Schritte müssen auf die Test- wie auch auf die Trainingsdaten angewendet werden.

### 1. Fehlerhafte Daten

In den Test- und Trainingsdaten sind Datensätze gefunden worden, die "?" und "NaN" beinhalten.
Diese Datensätze werden ausgeschlossen und können somit entfernt werden.
Das ist durch die große Zahl an vorhandenen Daten akzeptabel.
Durch nominale Werte wie z.B. die Länderdaten ist als Alternative die Mittelwertbildung nicht sinnvoll.
Insgesamt werden ____ Zeilen in den Trainingsdaten und ____ Zeilen in den Testdaten entfernt.

### 2. Unterschiedlichen Datentypen

Die Spalte "Age" beinhaltet teilweise Strings und teilweise Integer.
Um mit dieser Spalte arbeiten zu können, müssen alle Werte in dieser Spalte in Integer umgewandelt werden.
Außerdem gibt es einen Unterschied des Datentyps in den Spalten "capital-gain",
"capital-loss" und "hours-per-week" in den Testdaten im Gegensatz zu den Trainingsdaten.
In den Testdaten liegen diese Spalten als Double vor. In den Trainingsdaten als Integer.

In [58]:
# Datentypen der Spalten
print('Train data\n' + str(df_train.dtypes))
print('\nTest data\n' + str(df_test.dtypes))

Train data
age                int64
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
<50k              object
dtype: object

Test data
age                object
workclass          object
fnlwgt            float64
education          object
education-num     float64
marital-status     object
occupation         object
relationship       object
race               object
sex                object
capital-gain      float64
capital-loss      float64
hours-per-week    float64
native-country     object
<50k               object
dtype: object

### 3. Formatierung

Bei der Betrachtung der Daten fällt auf, dass die Formatierung der letzten Spalte "<50k" nicht konsistent ist.
Nach ">50K" oder "<=50K" ist ein zusätzlicher "." vorhanden.
Dieser lässt sich durch eine Ersetzung beseitigen (replace).

Mögliche Whitespaces entfernen am Anfang und am Ende entfernen (strip).

### 4. Duplikate

Der Datensatz enthält redundante Einträge.
Z.B. sind die Daten in der Spalte "Education" bereits als Dictionary in der Spalte "Education-Number" hinterlegt.
Das macht die Spalte "Education" überflüssig und sie kann entfernt werden.
Es wird natürlich auch nach doppelten Zeilen in den Daten gesucht, die entfernt werden müssen.
Bei Duplikaten kann die Gewichtung verändert werden, die das Modell zu spezifisch trainieren.

In [59]:
liste = df_train.duplicated()
doppelt = 0
for b in liste:
    if b:
        doppelt += 1
print('Duplikate: ' + str(doppelt))

Duplikate: 24

### 5. Ungenaue Daten

Die Spalte "fnlwgt" wird nicht einheitlich bestimmt und kann aufgrund ihrer Inkonsistenz nicht als Grundlage dienen. Dementsprechend wird sie entfernt.

### 6. Merkmale auf numerische Werte mappen

Die Algorithmen, die zum Trainieren eines MachineLearning-Modells verwendet werden können nur mit Zahlen arbeiten.
Zum Beispiel "Education-Number", "Age", "capital-gain", "capital-loss" und "hours-per-week" sind bereits ordinale Werte (mit innerer Ordnung).
Die restlichen Daten wie zum Beispiel "workclass" oder "occupation"	sind nominale.

Für die Spalte "Sex" lassen sich die nominalen Werte sogar in ordinale verändern.
Dabei wird "female" durch 1 und "male" durch 0 ersetzt.

Die letzte Spalte "<50k" wird auch für 0 und 1 dargestellt.
"<=50K" wird durch 0 und ">50K" durch 1 ersetzt.

Ein OneHotEncoder wird benutzt, um die restlichen nominalen Werte numerisch darzustellen.
Dafür werden die Werte in Matrizen verwandelt. So sind alle Werte nur noch mit 1 und 0 darstellbar.
Der Encoder erstellt eine Liste aller möglichen Einträge und erzeugt so viele neue Spalten, wie die Liste Einträge hat.
Für jede ursprüngliche Spalte, die den Namen der Spalte als Eintrag hat, wird für jede Spalte in der Zeile eine 1 eingetragen.

Die Vorbereitung wird in der folgenden Funktion dargestellt:

In [60]:
def prepareData(dataFrame: pd.DataFrame):
    #1 Ungültige Einträge entfernen
    dataFrame.replace(to_replace='?', value=pd.NaT, inplace=True)
    dataFrame.replace(to_replace='None', value=pd.NaT, inplace=True)
    dataFrame.dropna(inplace=True)

    #2 Unterschiedliche Datentypen
    dataFrame['age'] = pd.to_numeric(dataFrame['age'], errors='coerce')
    
    #3 Formatierung und Satzzeichen
    dataFrame.replace(to_replace='<=50K.', value='<=50K', inplace=True)
    dataFrame.replace(to_replace='>50K.', value='>50K', inplace=True)

    #4 Duplikate und Redundanzen
    if 'education' in dataFrame.columns:
        dataFrame.drop(labels=['education'], axis=1, inplace=True)
    dataFrame.drop_duplicates(inplace=True)
    
    #5 Ungenaue Daten entfernen
    if 'fnlwgt' in dataFrame.columns:
        dataFrame.drop(labels=['fnlwgt'], axis=1, inplace=True)

    #6 String mapping
    dataFrame.replace(to_replace='<=50K', value=0, inplace=True)
    dataFrame.replace(to_replace='>50K', value=1, inplace=True)
    dataFrame.replace(to_replace='Male', value=0, inplace=True)
    dataFrame.replace(to_replace='Female', value=1, inplace=True)

    return pd.get_dummies(dataFrame)

In [61]:
df_train_prepared = prepareData(df_train)
df_test_prepared = prepareData(df_test)
print('Train data: ' + str(df_train_prepared.shape))
print('Test data: ' + str(df_test_prepared.shape))
df_train_prepared.head()

Train data: (30139, 87)
Test data: (15055, 86)

,age,education-num,sex,capital-gain,capital-loss,hours-per-week,<50k,workclass_Federal-gov,workclass_Local-gov,workclass_Private,...,native-country_Portugal,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia
0,39,13,0,2174,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,50,13,0,0,0,13,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,38,9,0,0,0,40,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
3,53,7,0,0,0,40,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
4,28,13,1,0,0,40,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

KOPIERT: Die Spaltenanzahl für Trainings- und Testdaten ist unterschiedlich. Dabei fehlt eine Spalte bei den Testdaten. Dies ist damit zu begründen, dass die Testdaten eine Landesauswahl (Niederlande) nicht haben, welche allerdings für die Trainingsdaten gegeben war. Um dies auszugleichen, werden leere Spalten hinzugefügt und mit dem Titel versehen, welchen die zusätzliche Spalte trägt.

In [62]:
diffColumns = [x for x in df_train_prepared.columns if x not in df_test_prepared.columns]

#hinzufuegen der Anzahl der Werte
for category in diffColumns:    
    df_test_prepared[category] = len(df_test_prepared) * [0]
    
df_test_prepared = df_test_prepared[df_train_prepared.columns]

## Aufteilung der Daten
Um mit den Daten lernen zu können, müssen diese in Ausgangsdaten und Zielwerte unterteilt werden.
Die Ausgangswerte (x_train/x_test) beinhalten die Merkmale ohne die Einteilung der Spalte des Gehalts "<50k".
Die Zielwerte (y_train/y_test) beinhalten die Werte der Spalte "<50k".

In [63]:
#index der Spalte von <50k als Liste
indexTest50K = df_test_prepared.columns.tolist().index('<50k')
indexTrain50K = df_train_prepared.columns.tolist().index('<50k')

#Aufteilen der Spalten der Testdaten
df_test2_prepared = df_test_prepared.copy()
df_test2_prepared.drop(labels=['<50k'], axis=1, inplace=True)

#Aufteilen der Spalten der Trainingsdaten
df_train2_prepared = df_train_prepared.copy()
df_train2_prepared.drop(labels=['<50k'], axis=1, inplace=True)

#Aufteilen der Spalten der Testdaten
df_test2_prepared = df_test_prepared.copy()
df_test2_prepared.drop(labels=['<50k'], axis=1, inplace=True)

#Erstellen der Datensätze
x_test, y_test = df_test2_prepared.values, df_test_prepared.iloc[:, indexTest50K].values
x_train, y_train = df_train2_prepared.values, df_train_prepared.iloc[:, indexTrain50K].values

## Standardisierung

Um die Ergebnisse zu verbessern werden die Daten anschließend noch standardisiert.
Dazu wird eine Normalverteilung der Werte genutzt.
Dafür wird die Bibliothek "StandardScaler" von sklearn benutzt.
Nach diesem Schritt sind die Daten vorbereitet.

In [64]:
from sklearn.preprocessing import StandardScaler
stdsc = StandardScaler()
x_train_std = stdsc.fit_transform(x_train)
x_test_std = stdsc.transform(x_test)

## Merkmalauswahl

### Unterschiedliche Datentypen

String in numerische Werte umwandeln

### Anpassung der Merkmale

Standardisierung

### Ausgewogene Klassen

Wenn nicht, müssen die Metriken verändert werden mit denen die Klassen bewertet werden.

## Daten komprimieren

PCA, LDA, Kernel-PCA ALgorithmen

## Lernmethoden