# Wichtig: 

in der Vorlesung besprochen!  

* Diese Aufgabe wird als Team Projekt bewertet. (max. 3 Teilnehmer) 
* Die hier erreichten Punkte gehen zu 20% in Klausur-Bewertung ein.

## Teilnehmer

* Geben Sie hier im Dokument die Namen der Teilnehmer an! 

Teilnehmer: 
* Sebastian Trauth
* Henrik Kaltenbach
* ...

### Abgabe

* Die Abgabe erfolgt über Moodle

* Abzugeben ist ein jupyter Notebook mit
    * Text, der beschreibt was und wieso sie die einzelnen Analyse-Schritte durchführen 
    * Pythoncode, der die einzelnen Schritte durchführt
    * eine Zusammenfassung am Ende



* Sie können neue Zellen mit Hilfe der Jupyter-Icons hinzufügen
    * Sie können zwischen Markdown oder Code wählen 

* Export des Jupyter Notebooks
    * save as --> ipynb

* Das Jupyter Notebook zur Deadline in Moodle hochladen! 
    * der Name des JupyterNotebooks enthält auch die Namen der Teilnehmer

### Kriterien

* Sind die einzelnen Schritte gut dokumentiert und begründet? 

* Sind die bekannten in der Vorlesung vorgestellten Verfahren sinnvoll eingesetzt worden? 
    * Wurde begründet wieso ein Verfahren nicht weiter verfolgt wurde? 

* Wurde eine gute Klassifizierung erreicht? 


# Aufgabe zur Klassifizierung

Im Verzeichnis data-classification finden Sie Daten aus einem MicroCensus
* die Datei adult.data enthält Datenobjekte (zum Testen)
* die Datei adult.test enthält Datenobjekte (zum Testen)
* die Datei adult.names enthält Beschreibungen zu den Daten

## Aufgaben 

Entwickeln Sie ein Klassifizierungsmodell, dass so genau wie möglich vorhersagt, ob eine Person ein Einkommen von mehr als 50000 Doller pro Jahr hat! 
* Verwenden Sie was sie bisher gelernt haben! 
* Seien Sie kritisch! 


## Einlesen der Daten in eine Objekt-Liste

In [1]:
import pandas as pd

df = pd.read_csv('./data-classification/adult.data', header=None, names=[
'age', 'workclass', 'fnlwgt', 
'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 
'sex' , 'capital-gain' , 'capital-loss',
'hours-per-week', 'native-country', "<50k"
])
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,<50k
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

## Visualisieren der Daten

## Kategorisieren der Daten

## Vorverarbeitung der Daten

## usw. usw. 

* Fügen Sie über die Jupyter Icons neue Zellen hinzu
    * Sie können zwischen Markdown oder Code wählen